[push]
default = tracking

[user]
name = skrotnisse
email = robert.odman.development@gmail.com

[color]
ui = true

[alias]
gr = log --graph --full-history --all --color --decorate
unstage = reset HEAD --

[merge]
tool = vimdiff
stat = true

[core]
excludesfile = ${HOME}/.gitignore_global
precomposeunicode = true
editor = emacs
whitespace = trailing-space,space-before-tab

[branch]
autosetuprebase = always
autosetupmerge = true

[filter "media"]
clean = git-media-clean %f
smudge = git-media-smudge %f

[diff]
mnemonicprefix = true

[rerere]
enabled = true
